node_modules
frontend/node_modules
package-lock.json
.idea
qodana.yaml
.gitignore
backend/materials/*
backend/ai_engine/config/config.json
backend/main.exe
backend/ai_engine/_pycache_
backend/ai_engine/venv
backend/ai_engine/config.json