node_modules
frontend/node_modules
package-lock.json
.idea
qodana.yaml
**/*.exe
backend/materials/*
backend/ai_engine/config/config.json
backend/ai_engine/venv
backend/ai_engine/config.json
.VSCodeCounter/*
venv/*
**/__pycache__/*
**/*.pyc
*.log
.DS_Store
**/.DS_Store
.vscode
.DS_Store?
