html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow: auto;
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}